html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .menu {
  width: 40%;
}
.cart_item {
  margin-bottom: 20px;
}
button {
  user-select: none;
}
.table {
  border-collapse: collapse;
  margin: 15px auto;
}
.table td,
.table th {
  border: 1px solid #eee;
  padding: 5px 15px;
  min-width: 100px;
}
