<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
{% block menu %}menu{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
