{% block menu %}
  <a href="/">Главная</a>
  <a href="/?c=product&a=catalog">Каталог</a>
  <a href="/?c=cart">Корзина (<span id="cart_count">{{ cartCount }}</span>)</a>
  <a href="/?c=order">Заказы</a>
{% endblock %}
